spring:
  application:
    name: TaskManagerApi
  datasource:
    url: jdbc:postgresql://localhost:5432/task_manager
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
      hibernate:
        ddl-auto: validate
      show-sql: true
      properties:
        hibernate:
          format_sql: true
      open-in-view: false

  sql:
      init:
        mode: never
